.main-cont {
  background: white;
  // height: 100vh;
  text-transform: capitalize;
  padding: 10px !important;
  margin: 20px;
  input {
    display: block;
  }
  h1 {
    text-align: center;
  }
  button {
    width: 220px;
  }
}
